img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.car-cap {
    background-color: rgba(0, 0, 0, 0.6);
    width: fit-content;
    position: relative;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 5px;
}
